<div class="left-and-right">
  <div class="left">
    <h1>Carpenter on a ladder</h1>
  </div>
  <div class ="right">
    <div class="ladder-container">
      <div id="carpenter-moving" class="ladder" >
        <div class="carpenter">
          <%= image_tag('carpenter.png', alt: 'Carpenter', class:"carpenter-image") %>
        </div>
        <div class="ladder-top"></div>
        <div class="ladder-rung"></div>
        <div class="ladder-rung"></div>
        <div class="ladder-rung"></div>
        <div class="ladder-rung"></div>
        <div class="ladder-rung"></div>
        <div class="ladder-rung"></div>
        <div class="ladder-rung"></div>
        <div class="ladder-rung"></div>
        <div class="ladder-rung"></div>
        <div class="ladder-rung"></div>
        <div class="ladder-rung"></div>
        <div class="ladder-rung"></div>
        <div class="ladder-rung"></div>
        <div class="ladder-rung"></div>
        <div class="ladder-rung"></div>
        <div class="ladder-rung"></div>
        <div class="ladder-rung"></div>
        <div class="ladder-rung"></div>
        <div class="ladder-rung"></div>
        <div class="ladder-rung"></div>
        <div class="ladder-rung"></div>
        <div class="ladder-rung"></div>
        <div class="ladder-rung"></div>
        <div class="ladder-rung"></div>
        <div class="ladder-rung"></div>
        <div class="ladder-rung"></div>
        <div class="ladder-rung"></div>
        <div class="ladder-rung"></div>
        <div class="ladder-rung"></div>
        <div class="ladder-rung"></div>
        <div class="ladder-rung"></div>
        <div class="ladder-bottom"></div>
      </div>
    </div>
  </div>
</div>
